@use "theme/helpers/vars" as *;

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: var(--primary);
  color: var(--text-color-dark-bg);
  h5 {
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  &__grid {
    width: 90%;
    max-width: 61.25rem;
    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    &__item {
      flex: 1 1 auto;
      padding: 1rem;
      align-items: flex-start;
      width: 100%;
    }
  }
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__logo {
    height: 60px;
    width: 60px;
  }
  &__name {
    display: block;
    text-align: left;
    margin-top: 0.25rem;
  }
  @media screen and (min-width: $breakpoint-lg) {
    justify-content: flex-start;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $breakpoint-lg) {
    align-items: flex-end;
  }
}

.copy {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: var(--footer-border);
  p {
    padding-top: 0;
  }
  a {
    text-decoration: underline;
  }
}

.social {
  li {
    display: inline-block;
    margin: 0.5rem;
  }
  i {
    font-size: 1.5rem;
  }
}
