.DS_Store
node_modules
# ignore functions folder and import repo
# https://github.com/JDIZM/firebase-functions
functions

dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
storybook-static
coverage