@mixin darkTheme {
  color-scheme: dark;
  --background-color: #1a1a1d;
  --primary: #101011;
  --primary-100: rgba(108, 108, 184, 0.07);
  --secondary: #d6673b;
  --disabled: #b0bec5;
  --destruct: rgba(165, 10, 69, 1);
  --error: rgba(165, 10, 69, 1);
  --error-100: rgba(165, 10, 69, 0.2);
  --success: rgb(105, 177, 99);
  --light: rgb(230, 230, 230);
  --dark: rgb(48, 48, 48);
  --white: #fff;
  --links: var(--secondary);
  --text-color: var(--light); // dark - light
  --text-color-ld: var(--dark); // light - dark
  --text-color-dark-bg: var(--light);
  --text-color-light-bg: var(--dark);
  --button-text-color: var(--light);
  --button-border-outline: 1px solid var(--light);
  --border-color: rgb(76, 76, 76);
  --footer-border: 1px solid rgba(255, 255, 255, 0.2);
  --nav-toggle: var(--white);
  --nav-toggle-text: var(--dark);
  --placeholder-color: rgb(197, 197, 197);
  --input-highlight: var(--secondary);
}
