@mixin darkTheme {
  color-scheme: dark;
  --background-color: #121212;
  --primary: #222236;
  --primary-100: #222236;
  --secondary: #c61a73;
  --disabled: #b0bec5;
  --destruct: rgba(165, 10, 69, 0.9);
  --error: rgba(165, 10, 69, 0.9);
  --error-100: rgba(165, 10, 69, 0.2);
  --success: #32543b;
  --light: rgb(230, 230, 230);
  --dark: rgb(48, 48, 48);
  --white: #fff;
  --links: var(--secondary);
  --text-color: var(--light);
  --text-color-dark-bg: var(--light);
  --text-color-light-bg: var(--dark);
  --button-text-color: var(--light);
  --button-border-outline: 1px solid var(--light);
  --border-color: rgb(76, 76, 76);
  --footer-border: 1px solid rgba(255, 255, 255, 0.2);
  --nav-toggle: var(--white);
  --nav-toggle-text: var(--dark);
  --placeholder-color: rgb(197, 197, 197);
}
