@use "theme/helpers/_vars" as *;

// inherit spacing values
@mixin spacing {
  @each $size, $rem in $spacing {
    // margin
    .m--#{$size} {
      margin: $rem;
    }
    .mt--#{$size} {
      margin-top: $rem;
    }
    .mr--#{$size} {
      margin-right: $rem;
    }
    .mb--#{$size} {
      margin-bottom: $rem;
    }
    // padding
    .p--#{$size} {
      padding: $rem !important;
    }
    .pt--#{$size} {
      padding-top: $rem;
    }
    .pb--#{$size} {
      padding-bottom: $rem;
    }
  }
}

// create spacing classes for margin and padding
// m--1, p--1 etc
@include spacing;
