.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  // color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
  margin: 0.5rem auto;
  // color: white;
}

.btn:focus {
  outline: none;
  // outline: -webkit-focus-ring-color auto 5px;
  // outline-style: auto;
  // outline-width: 5px;
}

.btn--primary {
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn--primary:hover {
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn--primary:focus {
  outline-color: var(--primary);
}

.btn--outline {
  color: var(--primary);
  background-color: white;
  border: 1px solid var(--primary);
}
.btn--outline:hover {
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  a {
    color: white;
  }
}
.btn--outline:focus {
  outline-color: var(--primary);
}
.btn--disabled {
  opacity: 0.38;
}

.btn--left {
  margin: 4px 0;
  max-width: 200px;
  text-align: center;
}