input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  padding-left: 2.5rem;
  width: 100%;
  // max-width: 447px;
  height: 56px;
  // opacity: 0.07;
  // background-color: $primary;
  // background-color: rgba( 50,84,59, 0.07);
  border: none;
  border-radius: 4px;
}
input:focus {
  color: black;
  outline: none;
  border-bottom: 2px solid rgba( 50,84,59, 1);
}