.btn {
  line-height: inherit;
  font-family: var(--font-family);
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  margin: 0.5rem auto;
  user-select: none;
  text-shadow: none;
  text-indent: 0px;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  border: 1px solid transparent;
  color: var(--text-color);
  &:focus {
    outline: none;
  }
  &--primary {
    color: var(--button-text-color);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    &:hover {
      color: var(--button-text-color);
      background-color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
  &--secondary {
    color: var(--button-text-color);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    &:hover {
      background-color: var(--secondary);
      border: 1px solid var(--secondary);
    }
  }
  &--outline {
    background-color: transparent;
    border: var(--button-border-outline);
    &:hover {
      color: var(--secondary);
      border: 1px solid var(--secondary);
    }
    &:focus {
      outline: none;
    }
    &:disabled:hover {
      color: var(--text-color);
      border: var(--button-border-outline);
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.38;
  }
  &--left {
    margin: 4px 0;
    max-width: 200px;
    text-align: center;
  }
  &--block {
    display: block;
    width: 100%;
  }
  &--destruct {
    color: var(--light);
    background-color: var(--destruct);
  }
  &--text {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    text-decoration: none;
    &:hover {
      color: var(--secondary);
    }
    &:focus {
      color: var(--secondary);
    }
  }
}
