.form__field {
  max-width: 500px;
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    text-align: left;
    width: 100%;
    height: 22px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  span {
    text-align: left;
  }
  span.material-icons {
    position: absolute;
    top: 54px;
    left: 0.5rem;
    color: var(--primary);
  }
}
input {
  font-family: var(--font-family);
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  padding-left: 2.5rem;
  width: 100%;
  height: 56px;
  border-radius: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid transparent;
}
input:focus {
  color: black;
  outline: none;
  border-bottom: 2px solid var(--primary);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
textarea {
  padding: 1rem;
  padding-left: 2.5rem;
  font-family: var(--font-family);
  font-size: 1rem;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid transparent;
}
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
}

// set position of icon without a label
.form__field--no-label {
  label {
    display: none;
  }
  span.material-icons {
    // change position when no label
    top: 16px;
  }
}
