// global resets and styles

:root {
  // @ 16px you can use 0.5 rem for an even 8px spacing grid
  font-size: 16px;
  line-height: 1.4; // unitless vertical rhythm
  color: black;
}

html,
body {
  background-color: white;
  margin: 0;
}
body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.4;
}

div {
  width: 100%;
}

::selection {
  background-color: var(--primary);
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

// DEFAULT ELEMENTS

button,
span,
ul,
li {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: var(--links);
  text-decoration: none;
}

a:focus,
i:focus {
  outline: none;
  box-shadow: -2px -2px 16px var(--primary);
}

// HEADINGS
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

// LISTS
ul,
ol,
dl {
  margin: 0 0 1rem 0;
  padding: 0;
}

// ERROR
// applied to the form field and child elements.
.--error {
  input {
    background: var(--error-100);
  }
  input:focus {
    border-bottom: 2px solid var(--error);
  }
}

// display
.--hidden {
  display: none;
}
