// theme mixins
// get the variables from the sass map in _theme.scss
// mixins to create class names and css vars automatically
// https://tailwindcss.com/docs/theme/#app


// 1. root vars
// create root vars
@mixin vars {
  // nest it inside the :root 
  // it doesn't create multiple style tags then.
  :root {
    // colours
    @each $name, $colour in $colours {
      --#{"" + $name}: #{$colour};
    }
    // breakpoints
    @each $size, $px in $breakpoints {
      --#{"" + $size}: #{$px};
    }
  }
}
@include vars;

// 2. colours
@mixin colours {
  @each $name, $colour  in $colours {
    // background colours
    // eg. bg--primary
    .bg {
       // & appends to parent class name
      &--#{"" + $name} {
       background-color: $colour;
     }
    }
    // text colours
    // eg text--primary
    .text {
      &--#{"" + $name} {
       color: $colour;
     }
    }
  }
}
@include colours;


// 3. spacing
// create spacing classes for margin and padding
// m--1, p--1 etc
@mixin spacing {
  @each $size, $rem in $spacing {
    // margin
    .m--#{$size} {
      margin: $rem;
    }
    .mt--#{$size} {
      margin-top: $rem;
    }
    .mr--#{$size} {
      margin-right: $rem;
    }
    .mb--#{$size} {
      margin-bottom: $rem;
    }
    // padding
    .p--#{$size} {
      padding: $rem !important;
    }
    .pt--#{$size} {
      padding-top: $rem;
    }
    .pb--#{$size} {
      padding-bottom: $rem;
    }
  }
}
@include spacing;