// theme colours
$colours: (
  primary: #1a1a1d,
  primary-100: rgba(26, 26, 29, 0.07),
  secondary: #e85b46,
  disabled: #b0bec5,
  destruct: rgba(165, 10, 69, 0.9),
  error: rgba(165, 10, 69, 0.9),
  error-100: rgba(165, 10, 69, 0.2),
  success: #32543b,
  light: rgb(255, 255, 255),
  dark: rgb(48, 48, 48),
  white: #fff,
  blue: #1a1a1d,
  color-text: #1a1a1d,
  color-text-button: white,
  color-bg: white
);

$links: map-get($colours, secondary);

:root {
  --links: #{$links};
  --font-family: "Roboto", system, sans-serif;
}

// create spacing units for mixin
// margin and paddings will be created with mixin
$spacing: (
  1: 0.5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem
);

// breakpoints
$breakpoints: (
  xs: 320px,
  sm: 600px,
  md: 768px,
  lg: 960px,
  xl: 1200px
);

// breakpoints
$breakpoint-xs: map-get($breakpoints, xs);
$breakpoint-sm: map-get($breakpoints, sm);
$breakpoint-md: map-get($breakpoints, md);
$breakpoint-lg: map-get($breakpoints, lg);
$breakpoint-xl: map-get($breakpoints, xl);
