
html,
body {
  background-color: var(--background-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

input,
button,
span,
ul,
ol,
dl,
li {
  box-shadow: unset;
  border: unset;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
