@use "theme/helpers" as *;

:root {
  // @ 16px you can use 0.5 rem for an even 8px spacing grid
  font-size: 16px; // set root font-size
  line-height: 1.4; // unitless vertical rhythm
  color: initial; // initial will change based on color-scheme
  // responsive sizes with rem values for spacing
  @media screen and (max-width: 600px){
    font-size: 14px;
  }
  @media screen and (min-width: 1800px){
    font-size: 18px;
  }
  @media screen and (min-width: 2400px){
    font-size: 22px;
  }
  @media screen and (min-width: 2800px){
    font-size: 30px;
  }
}

.container {
  height: 100%;
  min-height: 88vh;
  max-width: 100rem; // set max breakpoint for content
  width: 90%; // 5% margin
  margin: 0 auto;
  // flex and center
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
}
h2 {
  font-size: 2.125rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 1.5rem;
  font-weight: 300;
}
h5 {
  font-size: 1.5rem;
  font-weight: 300;
}


a.--active {
  color: var(--light);
  margin-left: 0;
  text-decoration: underline;
}

.--error {
  input {
    background: var(--error-100); 
    &:focus {
      border-bottom: 2px solid var(--error);
    }
  }
}
